
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #151e2a;
}

#particles-js{
    height: 100%;
    background: none;
    position: absolute;

}
#title_{
    position: absolute;
    color: white;
}

h2{
    position: relative;
    font-size: 13vw;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #8bc53f;
    border-right: 3px solid #8bc53f;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
 @keyframes animate{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
}
.btn{
    width: 160px;
    background: none;
    border: 1px solid #8bc53f;
    color: white;
    padding: 8px;
    position:absolute;
    margin-top: 30%;
    margin-left: -15%;
    border-radius:20px;
}
.btn:hover{
    color: black;
    background-color: #8bc53f;
}

.b-t-n{
    position: absolute;
    margin-top:30%; 
    border-radius:20px;
    padding:8px;
    width:150px;
    border: 1px solid #8bc53f;
    background:none;
    color:white;
}
.b-t-n:hover{
    color: black;
    background-color: #8bc53f;
}
.bt{
    position: absolute;
    margin-top:30%; 
    margin-left:200px;
    padding:8px;
    width:150px;
    background:none;
    border: 1px solid #8bc53f;
    border-radius:20px;
    color:white;
}
.b-t-n:hover{
    color: black;
    background-color: #8bc53f;
}




