
body{
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    display:flex;
    justify-content: center;
    background: #151e2a;
}
.container{
	padding: 0 10%;
	margin: 40px auto 0;
	position: absolute;
}

.h2{
	font-size: 40px;
	text-align: center;
	margin-bottom: 40px;
	color: white;
	font-family: sans-serif;
}
.table{
	width: 100%;
	border-collapse: collapse;
}
.table thead{
	background-color: #8bc53f;
}

.table thead tr th{
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.35px;
	color: black;
	opacity: 1;
	padding: 12px;
	vertical-align: top;

}
.table tbody tr td{
	font-size: 14px;
	letter-spacing: 00.35px;
	font-weight: normal;
	color: white;
	background-color: transparent;
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #8bc53f;
}
